<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite">
<parameter name="BrowseType" value="ff"></parameter>
  <test name="Test">
    <classes>
      <class name="com.persy.utility.SuitBaseWordPress"/>
       <class name="com.persy.utility.LoginWordpressAction"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
